@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@352&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;900&display=swap");
/* SCROLL BAR CSS */
/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px grey;
	        box-shadow: inset 0 0 5px grey;
	z-index: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(105, 105, 105);
	border: 1px solid (rgb(5, 5, 5), 0, 0);
	border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #2c2a2a;
}
/* SCROLL BAR ENDS */
/* BODY CSS */
body {
	height: 100%;
	font-family: "Josefin Sans", sans-serif;
	overflow-x: hidden !important;
	position: relative;
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: -o-radial-gradient(22.6% 18.1%, 85.6% 215.15%, #090909 0%, #242424 100%);
	background: radial-gradient(85.6% 215.15% at 22.6% 18.1%, #090909 0%, #242424 100%);
}
html,
body {
	overflow-x: hidden;
}
/*BODY CSS ENDS*/
/*NAVBAR CSS*/
#logo {
	height: 40px;
	width: 40px;
	margin: 5px;
}
@media all and (min-width:100px) and (max-width:649px) {

	body {
		overflow-x: hidden !important;
		margin: 0px;
		padding: 0px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.navbar-text {
		display: inline-block;
		padding-top: 1rem !important;
		font-size: 1em !important;
		text-align: center !important;
	}
	.fixed-top {
		margin: 0px !important;
		padding-right: 15px !important;
		text-align: center !important;
	}
}
.navbar-text {
	padding-top: 0.8em;
	font-size: 2em;
	color: #efefef !important;
	font-family: "Work Sans", sans-serif;
	line-height: 16px;
	font-weight: normal;
	font-style: normal;
}
#nav-ul li a:hover {
	color: red !important;
}
.navbar-nav .nav-link {
	font-family: "Josefin Sans", sans-serif;
	color: white !important;
}
.navbar {
	background-color: #131313;
}
/*NAVBAR CSS ENDS*/
/*LIVE MASTERCLASS SECTION*/
#live-masterclass {
	padding-top: 78px;
}
#l-m-header{
	display: block;
	padding-left: 5%;
	padding-top: 60px;
}
#l-m-header > img  {
	display: inline-block;
	width: 24px;
	height: 24px;
	position: relative;
	bottom: 6px;
}
#l-m-header > p {
	display: inline-block;
	font-family: "Work Sans", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 42px;
	color: #EFEFEF;
	text-transform: uppercase;
}
#l-m-video {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
#twitch-embed {
	height: 495px;
	padding-left: 5%;
	padding-right: 10px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 796px;
	        flex: 1 1 796px;
}
.scrollquestions {
	height: inherit;
}
.message {
	position: absolute;
    width: 224px;
    height: 358px;
    overflow-y: scroll;
}
@media screen and (max-width: 1144px) and (min-width: 540px){
	.message {
    	height: 260px !important;
    	width: inherit;
		margin-right: 10%;
		
	}
}
@media screen and (max-width: 539px) and (min-width: 430px){
	.message {
    	height: 192px !important;
    	width: inherit;
    	margin-right: 16px;
	}
}
@media screen and (max-width: 429px) {
	.message {
    	height: 105px !important;
    	width: inherit;
    	margin-right: 16px;
	}
}
#iframe-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 234px;
            flex: 0 1 234px;
    height: 495px;
    border: 1px solid #EFEFEF;
    margin-right: 117px;
    padding: 5px;
    -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
            align-items: flex-start;
    -webkit-box-pack: end;
    	-ms-flex-pack: end;
	justify-content: flex-end;
	flex-wrap: wrap;
	overflow-wrap: anywhere;
}
@media screen and (max-width: 429px){
	#twitch-embed, #iframe-text {
		height: 240px !important;
	}
}
@media screen and (min-width:430px) and (max-width: 539px){
	#twitch-embed, #iframe-text {
		height: 295px !important;
	}
}
@media screen and (min-width:540px) and (max-width: 750px){
	#twitch-embed, #iframe-text {
		height: 380px;
	}
}
@media screen and (max-width: 950px){
	#iframe-text {
		margin-right: 6%;
	}
}
@media screen and (min-width: 1500px){
	#twitch-embed, #iframe-text {
		height: 600px;
	}
}
@media screen and (max-width: 1146px){
	#iframe-text {
		flex: 1 1 280px;
		height: 380px;
		margin-left: 5%;
		margin-top: 2%;
		margin-right: 1% !important;
	}
}
#iframe-text > p{
	font-family: "Work Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #EFEFEF;
}
@media all and (max-width: 1235px) {
	#iframe-text > p{
	font-size: 11px !important;
	line-height: 14px !important;
	}
	#iframe-text-form > span > img {
	height: 15px !important;
	}
} 
.iframe-text-ques {
	color: #ccc;
}
.iframe-text-status {
	color: #ccc;
}
#iframe-text-form{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
#iframe-text-form textarea {
	background-color: inherit;
	text-align: left;
	resize: none;
	font-family: "Work Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #EFEFEF ;
}
.iframe-button-div {
	display: inline-block;
}
.iframe-button-div a {
	background: #efefef;
	font-family: "Work Sans", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	color: #141414;
	text-decoration: none;
	margin-top: 5px !important;
	margin: 2px;
	border-radius: 0px;
}
.iframe-button-div a:hover, .iframe-button-div a:focus{
    background: #BCBCBC !important;
    -webkit-transition: background .6s ease;
    -o-transition: background .6s ease;
    transition: background .6s ease;
}
.iframe-button-div-input{
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: inherit;
    width: 100%;
    width: -moz-available;         
    width: -webkit-fill-available; 
    width: fill-available;
}
#iframe-button-arrow {
	display: contents;
}
#iframe-button-arrow > img {
	margin-top: 5px !important;
	margin: 2px;
	height: 18px;
	cursor: pointer;
}
#l-m-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding-left: 5%;
}
#l-m-text > h1 {
	font-family: "Work Sans", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 42px;
	color: #EFEFEF;
	padding-top: 25px;
}
#l-m-text > hr {
	height: 0px;
    width: 70%;
    border: 0.5px solid #EFEFEF;
    margin-left: 0;
}
#l-m-text-div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	width: 100%;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	padding-top: 4%;
}
#l-m-text-div1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 330px;
	        flex: 0 1 330px;
	padding: 10px;
	align-items: center;
} 
#l-m-text-div2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 330px;
	        flex: 0 1 330px;
	padding: 10px;
	align-items: center;
} 
#l-m-text-div3 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 330px;
	        flex: 0 1 330px;
	padding: 10px;
	align-items: center;
}
#l-m-text-div1 > span, #l-m-text-div2 > span{
	font-family: "Work Sans", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 64px;
	line-height: 80px;
	color: #EFEFEF;
}
#l-m-text-div1 > p:nth-of-type(1){
	font-family: "Work Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #EFEFEF;
}
.l-m-text-button {
	width: 240px;
	height: 43px;
	background: #EFEFEF;
	-webkit-box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.5);
	        box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.5);
	border-radius: 1px;
	display: block;
}
.l-m-text-button > p{
	font-family: "Work Sans", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 0px;
	text-align: center;
	color: #141414;
}
.l-m-text-button > img , .l-m-text-button > p {
	display: inline-block;
}
.l-m-text-button:hover, .l-m-text-button:focus{
    background: #BCBCBC;
    -webkit-transition: background .6s ease;
    -o-transition: background .6s ease;
    transition: background .6s ease;
}
#l-m-text-div1 > p:nth-of-type(2){
	font-family: "Work Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	line-height: 14px;
	color: #EFEFEF;
}
#l-m-text-div2 > p, #l-m-text-div3 > p{
	font-family: "Work Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	line-height: 14px;
	color: #EFEFEF;
}
/*LIVE MASTERCLASS SECTION END*/
/*UPCOMING SESSION*/
#u-session {
	padding-top: 10%;
}
#schedule-date {
	background: #e71d2b;
	border-radius: 3px;
	-webkit-box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.7);
	box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.7);
	font-family: "IBM Plex Mono", monospace;
	text-align: left;
	height: 60px;
	width: 290px;
}
#schedule-date p {
	font-weight: bold;
	font-size: 24px;
	line-height: 62px;
	color: #141414;
	text-align: right;
	padding-right: 14px;

}
#jun27 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.jun27-items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.jun27-child {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding: 10px;
	padding-top: 45px !important;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 500px;
	        flex: 0 1 500px;
}
@media all and (max-width: 390px){
	.jun27-child {
		margin-left: 48px;
	}
}
.jun27-hr {
	width: 100px;
	height: 0px;
	border: 1px solid #efefef;
	position: relative;
	left: -24px;
}

.speakers-time {
	font-family: "IBM Plex Mono", monospace;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 15px;
	color: #efefef;
	text-shadow: 0px 0px 5px #efefef;
}
.speakers-icon {
	width: 99px;
	height: 99px;
	border-radius: 50px;
	left: -18px;
	-webkit-filter: grayscale(40%);
	filter: grayscale(40%);
	-webkit-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	position: relative;
}

.speakers-icon:hover {
	-webkit-transform: scale(1.25);
	-ms-transform: scale(1.25);
	transform: scale(1.25);
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	transition: -webkit-transform 0.3s ease-in-out;
	-o-transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}
@media all and (max-width: 600px) {
	.speakers-icon:hover {
		-webkit-transform: scale(1.15);
		-ms-transform: scale(1.15);
		transform: scale(1.15);
		-webkit-transition: -webkit-transform 0.3s ease-in-out;
		transition: -webkit-transform 0.3s ease-in-out;
		-o-transition: transform 0.3s ease-in-out;
		transition: transform 0.3s ease-in-out;
		transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	}
}
.speakers-icon:hover:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

.speakers-data-1 {
	font-family: "Work Sans", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 23px;
	line-height: 30px;
	color: #efefef;
}
.speakers-data-2 {
	font-family: "IBM Plex Mono", monospace;
	font-size: 17px;
	line-height: 23px;
	color: #141414;
	background: #e71d2b;
	width: 125px;
}
.speakers-data-3 {
	font-family: "Work Sans", sans-serif !important;
	font-weight: 900;
	font-size: 18px;
	line-height: 14px;
	color: #efefef;
	text-transform: uppercase;
}
.speakers-data-4 {
	font-family: "Work Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 20px;
	color: #efefef;
}
.button-div {
	color: white;
}
.button-div a {
	background: #efefef;
	border-radius: 3px;
	margin: auto;
	text-transform: uppercase;
	font-family: "Work Sans", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 15px;
	line-height: 34px;
	color: #141414;
	text-decoration: none;
}
@media all and (max-width: 390px){
	.button-div a {
    font-size: 12px !important;
    line-height: 22px !important;
    width: 194px !important;
	}
}
.button-div a p {
	position: relative;
	top: 6px;
}
.button-div a:hover, .button-div a:focus{
    background: #BCBCBC !important;
    -webkit-transition: background .6s ease;
    -o-transition: background .6s ease;
    transition: background .6s ease;
  	}
/*UPCOMING SESSION END*/
#email-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 10%;
}
#email-form input:nth-of-type(1) {
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border: 0.5px solid #EFEFEF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
    background: none;
    color: #EFEFEF;
    text-align: left;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 500px;
            flex: 0 1 500px;

}
#email-form input:nth-of-type(2) {
    height: 40px;
    background: #EFEFEF;
    -webkit-box-shadow: 2px 8px 12px rgba(0,0,0,0.5);
            box-shadow: 2px 8px 12px rgba(0,0,0,0.5);
    border-radius: 2px;
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 280px;
            flex: 0 1 280px;
    margin-left: 20px;
    margin-right: 20px;
}
@media all and (max-width: 859px){
	#email-form input:nth-of-type(2) {
		margin-top: 10px;
	}
}
#email-form input:nth-of-type(2):hover, #email-form input:nth-of-type(2):focus{ 
    background: #BCBCBC;
    -webkit-transition: background .6s ease;
    -o-transition: background .6s ease;
    transition: background .6s ease;
}
#register-button-3 {
	padding-top: 11%;
	padding-bottom: 6%;
}
#register-button-3 button {
	font-family: "Work Sans", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 48px;
	color: #141414;
	text-decoration: none;
	text-align: center;
	background: #efefef;
	-webkit-box-shadow: 5px 10px 20px #000;
	box-shadow: 5px 10px 20px #000;
	border: none;
	border-radius: 2px;
	width: 30%;
}
@media only screen and (min-width: 400px) and (max-width: 850px) {
	#register-button-3 button {
		width: 60% !important;
	}
}
@media all and (max-width: 399px) {
	#register-button-3 button {
		width: 70% !important;
	}
}
#register-button-3 button:hover, #register-button-3 button:focus{
    background: #BCBCBC;
    -webkit-transition: background .6s ease;
    -o-transition: background .6s ease;
    transition: background .6s ease;
}
/*FOOTER CSS*/
#footer {
	position: relative;
	color: #efefef;
	background: #131313;
	font-family: "Work Sans", sans-serif;
	font-weight: normal;
	-webkit-box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.75);
	box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.75);
}
#footer .footer-child span {
	font-size: 14px;
	line-height: 16px;
}
#footer-text-end {
	font-size: 13px;
	line-height: 18px !important;
}
#footer .footer-child h3 {
	font-family: "Work Sans", sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 22px;
	line-height: 40px;
	padding-bottom: 20px;
}
#footer-social-media a {
	text-decoration: none;
	color: white;
	font-size: 30px;
}
#footer-social-media a:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.mobile-hide {
	display: block;
}
.footer-col-title {
    text-align: center;
}

.footer-item {
    text-align: center;
}
 
.footer-item-link {
    cursor: pointer;
}

@media (min-width: 1025px) {
    .footer-item {
        text-align: left;
    }
    .footer-col-title {
        text-align: left;
    }
}
@media only screen and (max-width: 700px) {
	.mobile-hide {
		display: none;
	}
}
/*FOOTER CSS END*/